.popular-article {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: rem(8px);

    line-height: 1.25rem;
  }

  &__title-link {
    @include multiple-line-underline();
    color: $blog-card-article-headline-color;

    font-size: map-get($font-sizes, 'default');
    font-weight: $font-weight-bolder;

    &:hover {
      color: inherit;
    }

    &::after {
      content: initial;
    }
  }

  &__author {
    color: $blog-card-article-author-color;
    font-size: map-get($font-sizes, 'sm');
  }

  &__timestamp {
    color: $blog-card-article-timestamp-color;
    font-size: map-get($font-sizes, 'sm');
  }
}
