table {
  width: 100%;
  margin: 2rem 0;
  table-layout: fixed;
  border-collapse: collapse;

  font-size: 1rem;

  thead,
  tbody {
    border: 1px solid map-get($color-gray, 'primary');
  }

  th {
    @include text-truncate();

    padding: $spacer;

    background: map-get($color-gray, 'light');

    font-weight: 600;
    text-align: left;
  }

  td {
    padding: $spacer/2 $spacer;

    border-bottom: 1px solid map-get($color-gray, 'primary');
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }
}
